<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Profile</title>
	<script src="https://kit.fontawesome.com/9b7f16bc1d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="styles/global.css">
	<link rel="stylesheet" type="text/css" href="styles/profile-seller.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>
<body>

    <div id="profile-page">
    	<div id="header">
    		<div id="img">
    		    <img src="images/dp.jpg">
    		</div>

    		<div id="details">

    			<div id="name"><h1></h1></div>

    			<div id="location"><i style="color: red;" class="fa-solid fa-location-dot"></i> Kolkata</div>

    			<div id="reviews">
    				<h5>Reviews</h5>
    				<div class="ratings">
    					<span>8.35</span>
    					<div class="stars-outer">
    						<div class="stars-inner"></div>
    					</div>
    				</div>
    			</div>
    		</div>

    		<div id="edit"><i class="fa-regular fa-pen-to-square"></i> Edit Profile</div>
    	</div>

    	<div id="navbox">
    		<button class="navboxes navcolor">My Products</button>
    		<button class="navboxes">Upload Product</button>
    		<button class="navboxes">Edit Profile</button>
    	</div>

    	<div class="box show" id="products">
    	  <div id="cards">
            <div class="card">
                <img src="images/apple-min.png">
                <div class="card-body">
                <div class="name">Example Name</div>
                <div class="image"><p>Lorem ipsumid est laborum.</p></div>
                <div class="rating">5.0 <i class="fa-solid fa-star"></i></div>
                <div class="price">Remove</div>
                <div class="add2cart">Edit Product</div>
                </div>
            </div>
            <div class="card">
                <img src="images/tomato2-min.png">
                <div class="card-body">
                <div class="name">Example Name</div>
                <div class="image"><p>Lorem ipsumid est laborum.</p></div>
                <div class="rating">5.0 <i class="fa-solid fa-star"></i></div>
                <div class="price">Remove</div>
                <div class="add2cart">Edit Product</div>
                </div>
            </div>
            <div class="card">
                <img src="images/broccoli-min.png">
                <div class="card-body">
                <div class="name">Example Name</div>
                <div class="image"><p>Lorem ipsumid est laborum.</p></div>
                <div class="rating">5.0 <i class="fa-solid fa-star"></i></div>
                <div class="price">Remove</div>
                <div class="add2cart">Edit Product</div>
                </div>
            </div>
          </div> 
    	</div>

    	<div class="box" id="upload">
			<h1>UPLOAD PRODUCT</h1>
    		<div id="inputs">
				<form method="post" action="/api/seller/upload" id="upload-product-form">
	
				  <label for = "name" id="name-label"> Name </label> <br>
				  <input type="text" name="name" id="name"><br>
		
		
				  <label for = "image" id="image-label"> Description </label> <br>
				  <input type="text" name="image" required id="image"><br>
		
				  <label for = "price" id="price-label"> Price </label> <br>
				  <input class="price" type="number" name="price" required id="price"><br>
				  <!-- <i class="show fa-solid fa-eye"></i>
				  <i class="hide fa-solid fa-eye-slash"></i> -->
				  <label for = "image" id="image-label"> Image </label> <br>
				  <input type="text" name="image" id="image"><br>
		
				  <button class="sub-btn" type="submit" id="submit" >Upload</button>
				  </div>
	
				  </form>
	
            <img src="images/upload.png" height="750px" width="750px">
    	</div>

    	<div class="box" id="editProducts">
    		<form>
    			<h1>EDIT PROFILE</h1>
    			<div class="inputs">
    		        <label for="name-edit">Name</label><br>
    		        <input type="text" name="name" id="name-edit">
    		    </div>

    		    <div class="inputs">
    		        <label for="phone-edit">price</label><br>
    		        <input type="number" name="phone" id="phone-edit">
    		    </div>

    		    <div class="inputs">
    		        <label for="image-edit">Email</label><br>
    		        <input type="image" name="image" id="image-edit">
    		    </div>

    		    <div class="inputs">
    		        <label for="price">Change Password</label><br>
    		        <input type="price" name="price" id="price">
    		    </div>

    		    <div class="inputs">
    		        <button type="submit" id="save">Save Changes</button>
    		    </div>
            </form>
    	</div>
    </div>
    
  <script type="text/javascript" src="javascript/profile-seller.js"></script>  
</body>
</html>